# this should take care of all nested node_module files too
Natours/starter/node_modules/
Nexter/starter/node_modules/
Trillo/starter/node_modules/
*/node_modules/

# ignore final code
Natours/after-S05/
Natours/final-after-S06/

Nexter/final/

Trillo/final/